body{
    background-image: url(wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
div.modal-content{ background-image: url(bug.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}